/* Stylesheet for Villein Number Translator
 * Author: Kyle Hovey
 */

@font-face {
		font-family: digitalSeven;
		src: url("fonts/digital-7.woff");
}

body {
		background-color: slategrey;
		height: 100px;
		background: url("../images/wood.jpg");
		background-size: 100%;
}

#baseboard {
}

#number-entry-row {
		margin-top: 10%;
}

#number-entry-cell {
		margin-left: 10%;
}

#number-entry {
	color: transparent;
	text-shadow: 0px 0px 3px crimson,
		0px 0px 5px salmon;
	background-color: black;
	text-transform: uppercase;
	font-family: "digitalSeven";
	font-size: 4em;
	letter-spacing: 10vw;
	overflow: hidden;
	text-align: right;
	width: 90%;
}

#submit {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
}

#output {
}

.villein-digit {
		background-color: #00245d;
		border: 5px solid #4d91ff;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
}

::-webkit-input-placeholder {
	color: transparent;
}

:-moz-placeholder {
	color: transparent;
}

::-moz-placeholder {
	color: transparent;
}

:-ms-input-placeholder {
	color: transparent;
}
