/* Built-In Tag Style */

body {
	background: steelBlue !important;
	background-image: url("../images/seedoflife.png") !important;
	background-attachment: fixed;
}

hr {
	border-top: 1px solid #555 !important;
}

/* UI Style */

.big-logo {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#ui-container {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 20px 20px;
	overflow: hidden;
	margin-top: 20px;
}

#title {
	text-align: center;
}

#start {
	width: 200px;
	height: 100px;
	margin-bottom: 20px;
	background-color: steelBlue;
	border-radius: 40px 40px;
}

button.btn.btn-primary.bolded {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

span.dc-name {
	color: slateBlue;
}

div.select-category {
	text-align: center;
}
