/* Built-In Tag Style */

body {
	background: slategrey;
	background: linear-gradient(steelBlue, slateBlue);
	overflow: hidden;
}

/* Fruit of Life Background */

#fruitOfLife {
	width: 100%;
	height: 100%;
}
