/* Stylesheet for main GitHub page
 * Author: Kyle Hovey
 */

body {
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 3px 3px;
	-moz-background-size: 3px 3px;
	background-size: 3px 3px;
}

#wheelnav-row {
	margin-top: 18%;
}

#main-nav {
	height: 400px;
	width: 400px;
	margin: auto;
}

#main-nav>svg {
	height: 100%;
	width: 100%;
}

@media (max-width: 600px) {
	#main-nav {
		height: 350px;
		width: 350px;
	}
}

@media (max-width: 400px) {
	#main-nav {
		height: 300px;
		width: 300px;
	}
}
