/* Stylesheet for main GitHub page
 * Author: Kyle Hovey
 */

body {
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 3px 3px;
	-moz-background-size: 3px 3px;
	background-size: 3px 3px;
}

#header {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 4em;
	color: rgba(15, 67, 123, 0.8);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

#wheelnav-row {
	margin-top: 10%;
}

#main-nav {
	height: 400px;
	width: 400px;
	margin: auto;
}

#main-nav>svg {
	height: 100%;
	width: 100%;
}

@media (max-width: 600px) {
	#main-nav {
		height: 350px;
		width: 350px;
	}
}

@media (max-width: 400px) {
	#main-nav {
		height: 300px;
		width: 300px;
	}
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
