/* Stylesheet for Acoustic Forest
 * Author: Kyle Hovey
 */

body {
	overflow: hidden;
}

#drawing-board {
	background-color: #0d1628;
}

#firstTree {
	position : absolute;
	bottom : 0px;
	height : 80%;
}
